# Chain id of the network this bot instance monitors.
# Use "celestia" for mainnet, "mocha-5" for the Mocha testnet
# (any value other than "celestia" is treated as a testnet).
CHAIN_ID=""
BOT_TOKEN=""
CLIENT_ID=""
GUILD_ID=""
DISCORD_PUBLIC_KEY=""
PROMETHEUS_URL="http://localhost:9090"
# where bot should live
BOT_CHANNEL_ID=""
# Don't need for deno deploy
KV_PATH="./bot_data/data.sqlite3"
